@import "bootstrap.css";
@font-face {
    font-family: 'existencelight';
    src: url('../fonts/Existence-Light-webfont.eot');
    src: url('../fonts/Existence-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Existence-Light-webfont.woff') format('woff'), url('../fonts/Existence-Light-webfont.ttf') format('truetype'), url('../fonts/Existence-Light-webfont.svg#existencelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #676767;
}

#headerWrapper {
    background-image: url('../images/header.jpg');
    min-height: 500px;
    background-size: cover;
    color: white;
}

.container {
    max-width: 700px;
    width: 100%;
    margin: auto;
    @media (min-width: 769px) and (max-width: 1024px) {
        max-width: 900px;
    }
    @media (min-width: 1025px) {
        max-width: 1300px;
    }

    .row {
        &:after,
        &:before {
            content: "";
            clear: both;
            display: table;
        }
    }
}

.header {
    min-height: 100px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 769px) and (max-width: 1024px) {
        justify-content: center;
        flex-direction: row;
    }
    @media (min-width: 1025px) {
        justify-content: space-around;
        flex-direction: row;
    }
}

h1 {
    font-family: 'existencelight', sans-serif;
    font-size: 50px;
    margin: 30px;
    text-align: center;
    @media (min-width: 769px) and (max-width: 1024px) {
        font-size: 60px;
    }
    @media (min-width: 1025px) {
        font-size: 80px;
    }
}

h3 {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    margin: 10px;
}

.header p {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 90px;
}

.column {
    display: flex;
    justify-content: center;
    padding: 0;
}

.col-md-4 {
    padding: 0;
}

.header img {
    height: 130px;
    margin-bottom: 20px;
    @media (min-width: 769px) and (max-width: 1024px) {
        height: 150px;
    }
    @media (min-width: 1025px) {
        height: 170px;
    }

    &:focus,
    &:hover {
        background-image: url("../images/ShapeHover.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}
// .portfolio img {
//     position: relative;
// }
//
// .photoText {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     margin: auto;
//
//     &:focus,
//     &:hover {
//         display: none;
//     }
// }

.shapeArrowDown img {
    height: 60px;
    @media (min-width: 769px) and (max-width: 1024px) {
        height: 75px;
    }
    @media (min-width: 1025px) {
        height: 95px;
    }

    &:focus,
    &:hover {
        background-image: url("../images/ShapeHover.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.shapeArrowDown {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
//nawigacja

#navigation {
    min-height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.navLogo a {
    display: none !important;
    font-family: 'existencelight', sans-serif;
    font-size: 30px;
    @media (min-width: 769px) {
        display: flex !important;
    }
}

.hamburger {
    display: inline-block;
    background-image: url("../images/hamburger.png");
    background-size: contain;
    background-color: white;
    border: transparent;
    height: 60px;
    width: 60px;
    @media (min-width: 769px) {
        display: none;
    }
}

.list {
  display: flex;
    @media (min-width: 769px) {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    }
}

.list li {
    margin: 10px;

    a {
        font-weight: 400;
        font-size: 18px;

        &:focus,
        &:hover {
            color: #9f449b;
        }
    }
    @media (min-width: 769px) {
        font-size: 18px;
        list-style: none;
        margin-left: 20px;
    }
}

.sticky {
    background-color: white;
    -webkit-box-shadow: -1px 6px 13px 0 rgba(163,161,163,1);
    -moz-box-shadow: -1px 6px 13px 0 rgba(163,161,163,1);
    box-shadow: -1px 6px 13px 0 rgba(163,161,163,1);
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
//feature

#featureWrapper {
    background-color: #eeeeee;
    min-height: 250px;
}

.featureDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    @media (min-width: 769px) and (max-width: 1024px) {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    @media (min-width: 1025px) {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}

.featureDiv img {
    height: 130px;
    z-index: 0;
    @media (min-width: 769px) and (max-width: 1024px) {
        height: 150px;
    }
    @media (min-width: 1025px) {
        height: 170px;
    }

    &:focus,
    &:hover {
        background-image: url("../images/ShapeHover2.png");
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 999;
    }
}

h4 {
    font-size: 24px;
    color: #676767;
    font-weight: 300;
    text-align: center;
    margin: 15px;
    @media (min-width: 769px) {
        font-size: 20px;
    }
}

.featureDiv p {
    font-size: 18px;
    color: #676767;
    font-weight: 300;
    text-align: center;
    @media (min-width: 769px) {
        font-size: 16px;
        line-height: 30px;
    }
}
// About us

#aboutUs {
    min-height: 160px;
    margin-top: 30px;
    margin-bottom: 60px;
    @media (min-width: 769px) {
        margin-bottom: 160px;
    }
}

.navContainer {
    display: flex;
    justify-content: center;
}

.nav {
    font-family: 'existencelight', sans-serif;
    min-height: 50px;
    width: 150px;
    font-size: 26px;
    color: #676767;
    margin: 20px;
    padding-left: 15px;
    position: relative;
}

.nav::after,
.nav::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: -1;
    right: 0;
    bottom: 0;
}

.nav::after {
    border-top: 1px solid #9f449b;
    border-right: 1px solid #9f449b;
    top: 0;
    left: 120px;
}

.nav::before {
    border-bottom: 1px solid #9f449b;
    border-left: 1px solid #9f449b;
    top: 20px;
    left: 0;
}

span {
    color: #9f449b;
}

.aboutUs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 769px) {
        flex-direction: row;
    }
}

.mobile {
    display: flex;
    justify-content: center;
    padding: 0;
    @media (min-width: 769px) {
        justify-content: flex-end;
    }
}

.mobile img {
    height: 200px;
    margin-bottom: 10px;
    @media (min-width: 769px) {
        height: 240px;
        margin-top: 40px;
    }
}

.mobileText {
    color: #676767;
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    padding: 15px;
    text-align: center;
    @media (min-width: 769px) {
        font-size: 14px;
        margin: 20px;
        text-align: left;
    }
}

#aboutUs button {
    color: white;
    border-radius: 5px;
    background-color: #9f449b;
    width: 170px;
    height: 50px;
    margin-top: 20px;
    @media (min-width: 769px) {
        width: 150px;
        height: 45px;
        margin-top: 10px;

        &:focus,
        &:hover {
            background-color: white;
            color: #9f449b;
        }
    }
}
//We lorem and ipsum your aliquam

.weWrapper {
    background-image: url("../images/willLoremAndIpsum.jpg");
    background-size: cover;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

.weWrapper img {
    height: 120px;
}

.weShape {
    display: flex;
    flex-direction: column;
    align-items: center;
}
//Our Team

.arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.arrows img {
    height: 90px;
    @media (min-width: 769px) {
        height: 60px;
    }

    &:focus,
    &:hover {
        background-image: url("../images/ShapeHover.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

#ourTeam {
    min-height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ourTeam .team {
    display: none;
}

.ourTeam .visible {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team h5 {
    font-size: 18px;
    margin-bottom: 2px;
    color: #484848;
    text-transform: uppercase;
    margin: 5px;
    @media (min-width: 769px) {
        font-size: 16px;
        margin-bottom: 0;
    }
}

.team p {
    font-size: 16px;
    color: #777777;
    margin: 5px;
    @media (min-width: 769px) {
        font-size: 14px;
    }
}

.photo img {
    background-size: cover;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    margin: 20px;
    @media (min-width: 769px) {
        height: 170px;
        width: 170px;
    }
}

.icon img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    @media (min-width: 769px) {
        height: 40px;
        width: 40px;
    }

    &:focus,
    &:hover {
        background-color: #9f449b;
    }
}
//Our Skills

#ourSkills {
    min-height: 100px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;

    p {
        font-family: Helvetica;
        text-transform: uppercase;
        font-weight: 700;
    }
}

.progressBar {
    margin-bottom: 14px;
    padding-left: 20px;
    height: 20px;

    span {
        font-weight: 400;
        color: #777777;
        float: right;
    }
}

.data {
    height: 20px;
    width: 280px;
    background-color: #f0f0f0;

    span {
        display: block;
        height: 100%;
        width: 0;
        background-color: #9f449b;
    }
}
//Our services will lorem and ipsum

#data2Wrapper {
    background-color: #eeeeee;
    min-height: 120px;
    font-family: Helvetica;
}

.data2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    min-height: 120px;
}

.data2 ul {
    display: flex;
    flex-direction: column;
    @media (min-width: 769px) {
        display: flex;
        flex-direction: row;
    }
}

.data2 li {
    padding: 30px;
}

.numbers span {
    color: #222222;
    font-size: 40px;
    padding: 10px;
}

.numbers {
    color: #777777;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}
//quotation

#quotationWrapper {
    background-color: #eeeeee;
    min-height: 300px;
}

.quotation ul li {
    display: none;
}

.quotation .active {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    color: #4b4b4b;

    ul {
        margin: 0;
    }

    li {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    p {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px;
    }
}

.white {
    height: 30px;
    background-color: white;
}

.photo1 img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    margin-bottom: 25px;
}

.quotesButton {
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    div {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 1px solid #aaaaaa;
        margin: 5px;

        &:focus,
        &:hover {
            height: 10px;
            width: 10px;
            background-color: #aaaaaa;
        }
    }
}
// Our Portfolio

.hide {
    display: none;
}

.navOurPortfolio {
    font-family: 'existencelight', sans-serif;
    min-height: 50px;
    font-size: 2em;
    color: #676767;
    margin: 1em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
}

.navOurPortfolio::after,
.navOurPortfolio::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: -1;
    right: 0;
    bottom: 0;
}

.navOurPortfolio::after {
    border-top: 1px solid #9f449b;
    border-right: 1px solid #9f449b;
    top: -5px;
    left: 170px;
}

.navOurPortfolio::before {
    border-bottom: 1px solid #9f449b;
    border-left: 1px solid #9f449b;
    top: 25px;
    left: 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons button {
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    width: 60px;
    border: 1px solid #777777;

    &:focus,
    &:hover {
        background-color: #9f449b;
        color: white;
    }
}

.gallery img {
    width: 100%;
    background-size: contain;
    margin-bottom: 5px;
    @media (min-width: 769px) and (max-width: 1024px) {
        width: 70%;
    }
    @media (min-width: 1025px) {
        width: 100%;
    }
}

.gallery {
    font-family: Helvetica;
    text-align: center;

    span {
        color: #222222;
        font-size: 18px;
    }

    p {
        color: #777777;
        font-size: 12px;
        margin-top: 0;
    }
}

.watchMore {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.watchMore button {
    background-color: #9f449b;
    color: white;
    margin: 10px;
    border-radius: 5px;
    height: 40px;
    width: 140px;

    &:focus,
    &:hover {
        background-color: white;
        color: #9f449b;
    }
}
// Footer

#getInTouch {
    min-height: 250px;
    margin-top: 10px;
}

.navGetInTouch {
    font-family: 'existencelight', sans-serif;
    min-height: 50px;
    font-size: 2em;
    color: #676767;
    margin: 2em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
}

.navGetInTouch::after,
.navGetInTouch::before {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: -1;
    right: 0;
    bottom: 0;
}

.navGetInTouch::after {
    border-top: 1px solid #9f449b;
    border-right: 1px solid #9f449b;
    top: -5px;
    left: 160px;
}

.navGetInTouch::before {
    border-bottom: 1px solid #9f449b;
    border-left: 1px solid #9f449b;
    top: 25px;
    left: 0;
}

.form {
    display: flex;
    justify-content: center;
}

.form ul {
    padding-left: 0;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #222222;
}

input {
    height: 50px;
    width: 300px;
    margin: 10px;
    border: 1px solid lightgrey;
    @media (min-width: 769px) {
        width: 400px;
    }
}

textarea {
    height: 200px;
    width: 300px;
    margin: 10px;
    border: 1px solid lightgrey;
    @media (min-width: 769px) {
        width: 400px;
    }
}

input.invalid,
textarea.invalid {
    border: 2px solid red;
}

input.valid,
textarea.valid {
    border: 2px solid green;
}

.form button {
    background-color: #9f449b;
    color: white;
    border-radius: 5px;
    height: 60px;
    width: 300px;
    margin-left: 10px;
    @media (min-width: 769px) {
        height: 50px;
        width: 140px;
    }

    &:focus,
    &:hover {
        background-color: white;
        color: #9f449b;
    }
}

.contactText {
    font-family: Helvetica;
    font-size: 16px;
    color: #4b4b4b;
    margin-bottom: 30px;
    text-align: center;
    @media (min-width: 769px) {
        text-align: left;
    }
}

.adress {
    font-family: Helvetica;
    font-size: 18px;
    color: #222222;
    margin: 0;
    text-align: center;
    @media (min-width: 769px) {
        text-align: left;
    }
}

.contact img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: 60px;
    margin-left: 5px;

    &:focus,
    &:hover {
        background-color: #9f449b;
    }
    @media (min-width: 769px) {
        height: 50px;
        width: 50px;
    }
}

.logoFooter {
    text-align: center;
    font-size: 40px;
    font-family: 'existencelight', sans-serif;
    margin-top: 90px;
    margin-bottom: 90px;
}
